<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
     <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2>{{> header}}</h2>
 
  <h2>{{title}} in hbs page</h2>
   <form id="form1">
  <input type="text" id="address">
  <button>Search for weather</button>
  </form>
  <h3>{{name}}</h3>
   <h3>The City is : {{city}}</h3>
<p id="location"></p>
   <p id="weather"></p>
   <p id="error"></p>

   
   <script src="js/script.js"></script>
</body>
</html>